
<div class="title-container">
    <h1>Carte du tarot</h1>
  </div>
  
  <div class="edit-mode-toggle">
    <a [routerLink]="'/admin/add'" class="edit-mode-toggle-link">Ajouter carte</a>
    <span class="separator">|</span>
    <a [routerLink]="'/admin'" class="edit-mode-toggle-link">Administration dashboard</a>
  </div>

  
<div class="gallery">
    <div *ngFor="let card of cards" class="tarot-card">
      <img [src]="card.image" [alt]="card.name">
      <p>{{ card.name }}</p>
    </div>
</div>
  