<div class="title-container">
    <h1>Modifier la carte du tarot</h1>
</div>

<div class="edit-mode-toggle">
    <a [routerLink]="'/admin/tarot'" class="edit-mode-toggle-link">Visualiser les cartes</a>
</div>

<form class="row g-3" [formGroup]="tarotForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <input type="number" [(ngModel)]="card.number" formControlName="number" placeholder="Numero de carte" min="0" required>
            <div *ngIf="tarotForm.get('number')?.invalid && tarotForm.get('number')?.touched" class="text-danger">
                Le numero de carte est requis.
            </div>
        </div>

        <div class="col-8">
            <input formControlName="name" [(ngModel)]="card.name" placeholder="Nom de la carte" required>
            <div *ngIf="tarotForm.get('name')?.invalid && tarotForm.get('name')?.touched" class="text-danger">
                Le nom de la carte est requis.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <select formControlName="vibrationId" class="form-control" [(ngModel)]="card.vibrationId">
                <option value="">Selectionner une vibration</option>
                <option *ngFor="let vibration of vibrations" [value]="vibration.id">
                    {{ vibration.vibrationNumber }}{{ vibration.letter ? ' - ' + vibration.letter : '' }} - {{ vibration.description }}
                </option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <textarea formControlName="description" [(ngModel)]="card.description" placeholder="Description de la carte"></textarea>
        </div>
    </div>

    <div class="col-md-6">
        <label class="form-label">Image existante</label>
        <div *ngIf="previewImagePath">
            <img [src]="previewImagePath" alt="Image actuelle" class="img-thumbnail" style="max-width: 200px;">
        </div>
    </div>

    <div class="col-md-6">
        <label for="imagePath" class="form-label">Nouvelle image</label>
        <input id="imagePath" type="file" (change)="onFileChange($event)" class="form-control" accept="image/*">
        <p *ngIf="selectedFileName">{{ selectedFileName }}</p>
    </div>

    <div>
        <button class="submit-btn btn btn-primary" type="submit">Mettre a jour</button>
    </div>

    <div>
      <button class="submit-btn btn btn-primary" type="button" (click)="openModal()">Supprimer</button>
    </div>

</form>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true" [ngClass]="{'show': showModal}" *ngIf="showModal" style="display:block; background: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Etes-vous sur de vouloir supprimer cet element ?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
