

/* Style pour le tableau */
.table-container table {
  border-collapse: collapse; /* Pour s'assurer que les bordures des cellules se collent */
}
.table-container {
  width: 90%; /* Définit la largeur du conteneur à 90% de la largeur du parent */
}
/* Éliminer la bordure de la première colonne (colonne étroite) */
.table-container table th:first-child, 
.table-container table td:first-child {
  border-left: none; /* Pas de bordure à gauche pour la première colonne */
}
.title-container h1 {
    font-family: 'Roboto', sans-serif; /* Police élégante et moderne */
    font-size: 28px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    /* Vous pouvez ajouter d'autres styles comme letter-spacing, font-weight, etc. */
}
  
table {
    width: 100%;
    border-collapse: collapse; /* Pour éliminer l'espace entre les bordures */
}
  
th, td {
    border-bottom: 1px solid #ddd; /* Ligne de séparation subtile */
}
  
.narrow-column {
    width: 5%; /* Ajustez selon vos besoins */
}

.narrow-column div {
    display: block; /* Chaque lettre sur une nouvelle ligne */
  }
  
.no-bottom-border td {
  border-bottom: none;
}

.no-padding {
    padding: 0 !important; /* Éliminer le rembourrage pour les cellules */
  }
  
  .circleLarge {
    display: inline-flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    text-align: center;      /* Assure le centrage du texte si nécessaire */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    color: white;
    font-weight: bold;
  }
  
  .circleWhiteLarge {
    display: inline-flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    text-align: center;      /* Assure le centrage du texte si nécessaire */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    color: black;            /* Couleur du texte en noir */
    font-weight: bold;       /* Texte en gras */
    background-color: white; /* Fond blanc du cercle */
    border: 1px solid black; /* Bordure noire */
  }
