
<div class="table-container">
  <div *ngIf="errorMessage" class="error-message">
    <p class="center"><b>{{ errorMessage }}</b></p>
  </div>
    <table>
      <thead>
        <tr>
          <th class="narrow-column"></th>
          <th class="bordered-column">Vibration Interieure</th>
          <th class="bordered-column">Étape de croissance</th>
          <th class="bordered-column">Sommation vibration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let syllable of innerVibrationResult.syllabes; let i = index">
          <td class="narrow-column">
            <div *ngFor="let letter of syllable.split('')">
              {{ letter }}
            </div>
          </td>
          
          <td class="bordered-column">
            <div *ngFor="let vibration of innerVibrationResult.innerVibration[i]">
              <div class="circleLarge" [ngStyle]="{'background-color': getColor(vibration.vibrationColor)}">
           
                <span>{{ getFormattedVibrationNumber(vibration) }}</span>
              </div>
              &nbsp;<span>{{ vibration.description }}</span>
            </div>
          </td>
    
          <td class="bordered-column">
            <div> <div *ngIf="innerVibrationResult.growthStage.stage[i] as vibrationNumber" class="circleWhiteLarge">{{ vibrationNumber }}</div>
              <div *ngFor="let detail of innerVibrationResult.growthStage.stageDetail[i]; let isLast = last">
                <div class="circleLarge" [ngStyle]="{'background-color': getColor(detail.vibrationColor)}">
                  <span>{{ getFormattedVibrationNumber(detail)}}</span>
                </div>
                &nbsp;<span>{{detail.description}}</span>
                <span *ngIf="!isLast" style="font-weight: bold;"> lié à</span>
              </div>
            </div>
          </td>
          
          <td
            class="bordered-column no-padding"
            *ngIf="i === 0"
            [attr.rowspan]="2"
          >
            <table>
              <tr></tr>
              <tr>
                <td>
                  <div class="circleWhiteLarge">{{innerVibrationResult.vibrationSummation.summation}}</div>
                  <div *ngFor="let detail of innerVibrationResult.vibrationSummation.summationDetail; let isLast = last">
                    <div class="circleLarge" [ngStyle]="{'background-color': getColor(detail.vibrationColor)}">
                      <span>{{ getFormattedVibrationNumber(detail)}}</span>
                    </div>
                    &nbsp;<span>{{detail.description}}</span>
                    <span *ngIf="!isLast" style="font-weight: bold;"> lié à</span>
                  </div>
          
                </td>
              </tr>
              <tr>
                <th>Tarot</th>
              </tr>
              <tr class="no-bottom-border">
                <td>{{ getSummationTarotExpression() }}</td>
              </tr>
              <tr class="no-bottom-border">
                <td>
                  <div class="tarot-card-preview" *ngIf="innerVibrationResult.vibrationTarot.tarotCard as tarotCard">
                    <img
                      *ngIf="getTarotImageUrl()"
                      class="tarot-card-image"
                      [src]="getTarotImageUrl()"
                      [alt]="tarotCard.name || 'Carte de tarot'"
                    />
                    <div class="tarot-card-description" *ngIf="tarotCard.description">
                      {{ tarotCard.description }}
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Autres lignes de données -->
      </tbody>
    </table>
</div>

