
<div class="table-container">
  <div *ngIf="errorMessage" class="error-message">
    <p class="center"><b>{{ errorMessage }}</b></p>
  </div>
    <table>
      <thead>
        <tr>
          <th class="narrow-column"></th>
          <th class="bordered-column">Vibration Interieure</th>
          <th class="bordered-column">Étape de croissance</th>
          <th class="bordered-column">Sommation vibration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let syllable of innerVibrationResult?.syllabes; let i = index">
          <td class="narrow-column">
            <div *ngFor="let letter of syllable.split('')">
              {{ letter }}
            </div>
          </td>
          
          <td class="bordered-column">
            <div *ngFor="let vibration of innerVibrationResult.innerVibration[i]">
              <div class="circle" [ngStyle]="{'background-color': getColor(vibration.vibrationColor)}">
                <span>{{ vibration.vibrationNumber }}</span>
              </div>
              &nbsp;<span>{{ vibration.description }}</span>
            </div>
          </td>
    
          <td class="bordered-column">
            <div> <div class="circleWhite">{{ growthStage.stage[i] }}</div>
              <div *ngFor="let detail of growthStage.stageDetail[i]; let isLast = last">
                <div class="circle" [ngStyle]="{'background-color':'Green'}">
                  <span>{{detail}}</span>
                </div>
                &nbsp;<span>vdd</span>
                <span *ngIf="!isLast" style="font-weight: bold;"> lié à</span>
              </div>
            </div>
          </td>
          
          <td
            class="bordered-column no-padding"
            *ngIf="i === 0"
            [attr.rowspan]="2"
          >
            <table>
              <tr></tr>
              <tr>
                <td>
                  1314<br />
                  <br />
                  1000 blabla<br />
                  300 blabla <br />
                  14 blabla<br />
                </td>
              </tr>
              <tr>
                <th>Tarot</th>
              </tr>
              <tr class="no-bottom-border">
                <td>Contenu Ligne 2</td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Autres lignes de données -->
      </tbody>
    </table>
</div>
