.table-container {
    width: 95%; /* Définit la largeur du conteneur à 80% de la largeur du parent */
    margin: 0 auto; /* Centre le conteneur sur la page */
    overflow-x: auto; /* Ajoute un défilement horizontal si le tableau dépasse la largeur du conteneur */
    margin-top: 20px; /* Ajoutez une marge en haut */

}

  /* Style pour les colonnes avec bordure */
.bordered-column {
  border-left: 1px solid #ddd; /* Bordure verticale sur le côté gauche */
}

/* Style pour le tableau */
.table-container table {
  border-collapse: collapse; /* Pour s'assurer que les bordures des cellules se collent */
}

/* Style pour les cellules du tableau */
.table-container th, 
.table-container td {
  padding: 8px; /* Espace intérieur pour chaque cellule */
  text-align: left; /* Alignement du texte à gauche */
}

/* Éliminer la bordure de la première colonne (colonne étroite) */
.table-container table th:first-child, 
.table-container table td:first-child {
  border-left: none; /* Pas de bordure à gauche pour la première colonne */
}
.title-container h1 {
    font-family: 'Roboto', sans-serif; /* Police élégante et moderne */
    font-size: 28px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    /* Vous pouvez ajouter d'autres styles comme letter-spacing, font-weight, etc. */
}
  
table {
    width: 100%;
    border-collapse: collapse; /* Pour éliminer l'espace entre les bordures */
}
  
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Ligne de séparation subtile */
}
  
.narrow-column {
    width: 5%; /* Ajustez selon vos besoins */
}

.narrow-column div {
    display: block; /* Chaque lettre sur une nouvelle ligne */
  }
  
th {
    background-color: #f8f8f8; /* Couleur de fond pour les en-têtes */
    color: #333; /* Couleur du texte des en-têtes */
}
  
.no-bottom-border td {
  border-bottom: none;
}

.no-padding {
    padding: 0 !important; /* Éliminer le rembourrage pour les cellules */
  }
  
