/* Style pour le conteneur principal du formulaire */

  form {
    border: 1px solid #cccccc; /* Contour gris clair */
    border-radius: 8px; /* Bordures arrondies pour un look moderne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
    padding: 20px; /* Espacement intérieur pour ne pas coller les éléments au bord */
    background-color: #f9f9f9; /* Fond légèrement différent pour distinguer le formulaire */
    width: auto; /* Ajustez selon les besoins */
    max-width: 780px; /* Limite la largeur maximale du formulaire */
    margin: auto; /* Centrage horizontal si le conteneur parent est suffisamment large */
  }
  
  /* Style général pour les éléments de formulaire */
  input, select, textarea, button {
    margin: 0 27px; 
    border-radius: 4px;
    
  }

  input, select, textarea{
    border: 1px solid #ccc;
  }
  
  input, select {
    flex: 1; /* Les champs peuvent grandir mais de manière équilibrée */
    min-width: 134px; /* Assure une largeur minimale pour la lisibilité */
    margin-bottom: 8px;
  }
  /* Adaptations pour les éléments spécifiques */
  input, select, button {
    height: 40px;
    margin-right: 15px;
  
    /* Hauteur standardisée */
  }

  input[type="checkbox"] {
    height: auto; /* Remettre la hauteur à la valeur par défaut ou définir une nouvelle hauteur spécifique */
    margin-right: 2px; /* Conserver la marge droite si nécessaire */
    min-width:0px;
  }

  textarea {
    flex: none;
    min-height: 80px; /* Hauteur minimale plus grande */
    width: 90.6%; /* Prend toute la largeur disponible */
    padding: 10px; /* Padding interne pour l'espace autour du texte */
    margin-bottom: 8px; /* Ajoute de l'espace en dessous du textarea */
    height: 40px;
  }

  button {
    margin: 5px 26px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 93.5%; 
  }

  .add-btn {
    background-color: #4CAF50; 
  }

  .remove-btn {
    background-color: #cccccc; 
  }
  
  .remove-btn:disabled {
    background-color: #cccccc; /* Gris pour indiquer qu'il est désactivé */
    color: #666666;
    cursor: not-allowed; /* Change le curseur pour indiquer qu'il n'est pas cliquable */
  }

  /* Style spécifique pour le bouton Soumettre */
.submit-btn {
  background-color: #2196F3; /* Bleu vif pour se démarquer */
  color: white; /* Texte en blanc pour une bonne lisibilité */
  font-weight: bold; /* Rendre le texte un peu plus gras */
  transition: background-color 0.3s, transform 0.2s; /* Animation légère */
}

.submit-btn:hover {
  background-color: #0b7dda; /* Un bleu un peu plus foncé au survol */
 
}

.submit-btn:active {
  background-color: #005a9c; /* Bleu plus foncé lors du clic */
  transform: scale(0.95); /* Réduction légère lors du clic */
}

.error-message {
  color: red;
  padding-left: 28px;
}

.error-message-vibration {
  color: red;
  padding-left: 115px;
}

.error-message-vibration-type {
  color: red;
  padding-left: 95px;
}

.error-message-vibration-color{
  color: red;
  padding-left: 18px;
}

