

  <div class="title-container">
    <h1>Ajouter des vibrations</h1>
  </div>

  
  <form class="row g-3" [formGroup]="vibrationsForm" (ngSubmit)="onSubmit()">
    <div formArrayName="vibrations">
      <div *ngFor="let vibration of vibrationsControls; let i = index" [formGroupName]="i">

        <div  class="row mb-3">
          <div  class="col-md-3">
            <input formControlName="letter" placeholder="Lettre" required  maxlength="1" pattern="^[A-Za-z]$">
            <span *ngIf="isControlInvalid(i, 'letter')" class="error-message small-text">Lettre requise.</span>
          </div>

          <div  class="col-md-3">
            <input type="number" formControlName="vibrationNumber" placeholder="Vibration" min="0" required>
            <span *ngIf="isControlInvalid(i, 'vibrationNumber')" class="error-message">Vibration requise.</span>
          </div>
      
          <div  class="col-md-3">
            <select formControlName="vibrationType" required>
              <option value="" disabled>Choisir le type</option>
              <option [ngValue]="vibrationTypes.MajorVibration">Vibration Majeure</option>
              <option [ngValue]="vibrationTypes.MinorVibration">Vibration Mineure</option>
            </select>
            <span *ngIf="isControlInvalid(i, 'vibrationType')" class="error-message">Type de vibration requis.</span>
          </div>

          <div  class="col-md-3">
            <select formControlName="vibrationColor" required>
              <option value="" disabled>Choisir la couleur</option>
              <option [ngValue]="vibrationColor.Green">Feux vert</option>
              <option [ngValue]="vibrationColor.Orange">Feux Orange</option>
              <option [ngValue]="vibrationColor.Red">Feux Rogue</option>
            </select>
            <span *ngIf="isControlInvalid(i, 'vibrationColor')" class="error-message">Couleur requise.</span>
          </div>
        </div>

        <div class="row mb-3">
          <div  class="col-12">
            <textarea formControlName="description" placeholder="Description" required></textarea>
            <span *ngIf="isControlInvalid(i, 'description')" class="error-message">Description requise.</span>
          </div>
        </div>

        <div class="row mb-3">
          <div  class="col-md-2">
            <label>
              <input type="checkbox" formControlName="karmic">
              Karmique
            </label>
          </div>

          <div  class="col-md-2">
            <label>
              <input type="checkbox" formControlName="consciousness">
              Conscience
            </label>
          </div>
        </div>

        <button type="button"  class="remove-btn btn btn-light mb-2" (click)="removeVibrationFormGroup(i)" [disabled]="vibrationsControls.length <= 1">
          <i class="bi bi-arrow-up"></i>
          Retirer</button>
        <button type="button" class="add-btn btn btn-light" *ngIf="i === vibrationsControls.length - 1" (click)="addVibrationFormGroup()">
          <i class="bi bi-arrow-down"></i>
          Ajouter</button>
      </div>
    </div>
    <div>
      <button class="submit-btn btn btn-primary" type="submit">Soumettre</button>
    </div>

  </form>


