.table-container {
  width: 80%; /* Définit la largeur du conteneur à 80% de la largeur du parent */
}

.table-separator {
  border: 0; /* Enlève la bordure par défaut du hr */
  height: 1px; /* Épaisseur du trait de séparation ajustée à 1 pixel */
  background-color: rgb(166, 170, 175); /* Couleur du trait */
  width: 80%; /* Assure que le hr s'étend sur toute la largeur */
  margin-left: auto; /* Centrage du hr */
  margin-right: auto; /* Centrage du hr */
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ddd; /* Ajustez le style de bordure comme nécessaire */
}  


.separator {
  margin: 0 10px; /* Ajoute un peu d'espace autour du séparateur */
  color: #333; /* Vous pouvez ajuster la couleur selon le thème de votre site */
}

.wide-column {
  width: 70%; /* Ajustez la largeur selon vos besoins */
}

.bottomContainer {
 
  padding-top: 10px;
  width: 80%; 
  margin-left: auto; /* Centrage du hr */
  margin-right: auto; /* Centrage du hr */

  /* Annule la marge par défaut */
}
