
<div class="title-container">
  <h1>Tableau des vibrations</h1>
</div>

<div class="edit-mode-toggle">
  <a [routerLink]="'/admin/add'" class="edit-mode-toggle-link">Mode Ajout</a>
  <span class="separator">|</span>
  <a [routerLink]="'/admin/edit'" class="edit-mode-toggle-link">Mode Édition</a>
</div>

<hr class="table-separator"/>
<table class="table-container">
  <thead>
    <tr>
      <th></th>
      <!-- Première colonne sans titre -->
      <th class="bordered-column">Vibration</th>
      <th class="bordered-column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vibration of vibrations">
      <td>{{ vibration.letter }}</td>
      <td class="bordered-column">{{ vibration.vibration }}</td>
      <td class="bordered-column">{{ vibration.description }}</td>
    </tr>
  </tbody>
</table>


