
/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
}

.title-container {
    text-align: center; /* Centrer le titre */
    margin-top: 30px; /* Marge au-dessus du titre */
    margin-bottom: 20px; /* Marge en dessous du titre, avant le tableau */
}
  
.table-container {
     /* Définit la largeur du conteneur à 80% de la largeur du parent */
    margin: 0 auto; /* Centre le conteneur sur la page */
    overflow-x: auto; /* Ajoute un défilement horizontal si le tableau dépasse la largeur du conteneur */
    margin-top: 20px; /* Ajoutez une marge en haut */
}

th {
    background-color: #f8f8f8; /* Couleur de fond pour les en-têtes */
    color: #333; /* Couleur du texte des en-têtes */
}

/* Style pour les cellules du tableau */
.table-container th, 
.table-container td {
  padding: 8px; /* Espace intérieur pour chaque cellule */
  text-align: left; /* Alignement du texte à gauche */
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
    /* Change la couleur de fond de la ligne au survol */
    cursor: pointer;
    /* Change le curseur pour indiquer qu'il s'agit d'un élément cliquable */
  }
  
/* Style pour les colonnes avec bordure */
.bordered-column {
    border-left: 1px solid #ddd; /* Bordure verticale sur le côté gauche */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    background-color: #ffcccc;
    border: 1px solid #ff9999;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .edit-mode-toggle a, /* Si vous appliquez la classe directement au conteneur du lien */
  .edit-mode-toggle-link /* Ou si vous préférez appliquer la classe directement au lien */ {
    color: #007bff; /* Bleu typique des liens */
    text-decoration: none; /* Enlève le soulignement par défaut */
    font-size: 16px; /* Taille de la police pour la lisibilité */
    transition: text-decoration 0.3s ease-in-out; /* Transition fluide pour le soulignement */
  }
  
  .edit-mode-toggle a:hover,
  .edit-mode-toggle-link:hover {
    text-decoration: underline; /* Souligne le lien au survol pour indiquer la cliquabilité */
    color: #0056b3; /* Assombrit légèrement le bleu pour le feedback au survol */
  }
  
  .edit-mode-toggle a:active,
  .edit-mode-toggle-link:active {
    color: #004085; /* Bleu plus foncé lors du clic pour le feedback d'interaction */
  }
  
  .edit-mode-toggle {
    text-align: center; /* Centre le contenu horizontalement */
    width: 100%; /* Assurez-vous que le conteneur prend toute la largeur */
    margin-top: 20px; /* Espacement au-dessus, ajustez selon le besoin */
    margin-bottom: 20px; /* Espacement en dessous, ajustez selon le besoin */
  }

  .center {
    text-align: center; /* Centrer */
  }
  
  
  