/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
}

.title-container {
    text-align: center; /* Centrer le titre */
    margin-top: 30px; /* Marge au-dessus du titre */
    margin-bottom: 20px; /* Marge en dessous du titre, avant le tableau */
  }
  
  