<div class="title-container">
    <h1>Editer des vibrations</h1>
</div>

<div class="edit-mode-toggle">
    <a [routerLink]="'/admin/'" class="edit-mode-toggle-link">Visualiser vibration</a>
</div>
<form [formGroup]="vibrationsForm" class="row g-3"  (ngSubmit)="onSubmit()">
  
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div  class="row mb-3">
      <div  class="col-md-3">
          <input formControlName="letter"  [(ngModel)]="vibration.letter" placeholder="Lettre" required  maxlength="1" pattern="^[A-Za-z]$">
          <span *ngIf="isControlInvalid('letter')" class="error small-text">Lettre requise.</span>
      </div>

      <div  class="col-md-3">
          <input type="number" [(ngModel)]="vibration.vibrationNumber" formControlName="vibrationNumber" placeholder="Vibration" min="0" required>
          <span *ngIf="isControlInvalid('vibrationNumber')" class="error">Vibration requise.</span>
      </div>

      <div  class="col-md-3">
          <select  [(ngModel)]="vibration.vibrationType" formControlName="vibrationType" required>
          <option value="" disabled>Choisir le type</option>
          <option [ngValue]="vibrationTypes.MajorVibration">Vibration Majeure</option>
          <option [ngValue]="vibrationTypes.MinorVibration">Vibration Mineure</option>
          </select>
          <span *ngIf="isControlInvalid('vibrationType')" class="error">Type de vibration requis.</span>
      </div>

      <div  class="col-md-3">
          <select [(ngModel)]="vibration.vibrationColor" formControlName="vibrationColor" required>
            <option value="" disabled>Choisir la couleur</option>
            <option [ngValue]="vibrationColor.Green">Feux vert</option>
            <option [ngValue]="vibrationColor.GreenYellow">Feux Orange</option>
            <option [ngValue]="vibrationColor.Red">Feux Rogue</option>
          </select>
          <span *ngIf="isControlInvalid('vibrationColor')" class="error">Couleur requise.</span>
      </div>

  </div>
  
  <div class="row mb-3">
      <div  class="col-12">
          <textarea [(ngModel)]="vibration.description" formControlName="description" placeholder="Description" required></textarea>
          <span *ngIf="isControlInvalid( 'description')" class="error">Description requise.</span>
        </div>
  </div>

  <div class="row mb-3">
      <div  class="col-md-2">
        <label>
          <input [(ngModel)]="vibration.karmic" type="checkbox" formControlName="karmic">
          Karmique
        </label>
      </div>

      <div  class="col-md-2">
        <label>
          <input [(ngModel)]="vibration.consciousness" type="checkbox" formControlName="consciousness">
          Conscience
        </label>
      </div>
    </div>

  <div>
      <button class="submit-btn btn btn-primary" type="submit">Mettre à jour</button>
  </div>
  
  <div>
    <button class="submit-btn btn btn-primary" type="button" (click)="openModal()">Supprimer</button>
  </div>

</form>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true" [ngClass]="{'show': showModal}" *ngIf="showModal" style="display:block; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cet élément ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteItem()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
